.the-red-one {
    color:red;
    font-size:14px;
}
.the-big-one{
    font-size: 10px;
}

#fonting{
    font-weight:bold;
    color: red;
}
body{
    background-image:url("http://cdn26.us1.fansshare.com/photo/backgroundimage/gray-plain-website-background-for-website-1628649645.jpg");
 }
h1 {
    text-align: center;
    border:3px solid white;
    background-color: #7b7d82;
} 
h2 {
    color:white;
}

p {
    color:white;
    font-size: 17px;
    
}            
table {
    border: 3px solid white;
}


tr {
    
    color:black;
    font-family: serif;
}

tr:nth-child(2n){
    background-color: lightgrey;   
}
tr:nth-child(2n+1){
    background-color: white;
}

tr:first-of-type{
    background-color: grey;
}

a:hover {
    font-weight: bold;
}

a:visted {
    color: green;
}

th {
    color: black;
    font-family: sans-serif;
}

code {
    font-family: sans-serif;
}
