.the-red-one {
    color:red;
    font-size:100px;
}
.the-big-one{
    font-size: 10px;
}
 
h1 {
    text-align: center;
    border:5px solid black;
} 
            
table {
    border: 3px solid black;
}

tr {
    
    color:black;
    font-family: serif;
}

tr:nth-child(2n){
    background-color: lightgrey;   
}
tr:nth-child(2n+1){
    background-color: white;
}

tr:first-of-type{
    background-color: grey;
}

a:hover {
    font-weight: bold;
}

th {
    color: black;
    font-family: sans-serif;
}

code {
    font-family: sans-serif;
}
